<template>
  <div class="home">
    <h1>{{ title }}</h1>
    <ul>
      <li v-for="item in list">
        <router-link :to="item.route">{{ item.title }}</router-link>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class Home extends Vue {
  private title: string = 'Game List'
  private list: Array<{ title: string, route: string }> = [
    { title: 'Play with a car using the keyboard', route: '/play-keyboard-car' },
    { title: 'Play with animals using the keyboard', route: '/play-keyboard-animals' },
    { title: 'Play with numbers using the keyboard', route: '/play-keyboard-numbers' }
  ]
}
</script>

<style lang="scss">
</style>
