<template lang="html">
  <div class="play-keyboard-numbers-view">
    <div class="play-area">
      <div class="image-list">
        <img v-for="num in currentNumber" class="image"
          :src="currentObjectImageURL" v-bind:alt="currentObject">
      </div>
      <br>
      <h1>{{ subtitle }}</h1>
      <audio v-for="(num, index) in numbers" v-show="false" :ref="'audio-' + (index + 1)" controls>
        <source :src="currentNumberSoundURL(index)" type="audio/mp3"></source>
      </audio>
      <audio v-show="false" :ref="'audio-object-' + currentObject" controls>
        <source :src="currentObjectSoundURL(currentObject)" type="audio/mp3"></source>
      </audio>
      <audio v-show="false" :ref="'audio-object-plural-' + currentObject" controls>
        <source :src="currentObjectSoundURL(currentObject, true)" type="audio/mp3"></source>
      </audio>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

// Text-to-speech program: https://text-to-speech-demo.ng.bluemix.net/

@Component
class PlayKeyboardNumbers extends Vue {
  currentNumber: number = 1
  currentObject: string = 'apple'
  objects: { [key: string]: {
    name: string
    pluralName: string
    assetPrefix: string
  }} = {
    apple: { name: 'apple', pluralName: 'apples', assetPrefix: 'fruit' }
  }
  numbers: Array<{
    name: string
    imageURL: string
    soundURL: string
  }> = [
    { name: '1', imageURL: '1.jpg', soundURL: '1.mp3' },
    { name: '2', imageURL: '2.jpg', soundURL: '2.mp3' },
    { name: '3', imageURL: '3.jpg', soundURL: '3.mp3' },
    { name: '4', imageURL: '4.jpg', soundURL: '4.mp3' },
    { name: '5', imageURL: '5.jpg', soundURL: '5.mp3' },
    { name: '6', imageURL: '6.jpg', soundURL: '6.mp3' },
    { name: '7', imageURL: '7.jpg', soundURL: '7.mp3' },
    { name: '8', imageURL: '8.jpg', soundURL: '8.mp3' },
    { name: '9', imageURL: '9.jpg', soundURL: '9.mp3' },
    { name: '10', imageURL: '10.jpg', soundURL: '10.mp3' }
  ]

  get subtitle () {
    const currentObject = this.objects[this.currentObject]
    const objectName = this.currentNumber > 1 ? currentObject.pluralName : currentObject.name

    return `${this.currentNumber} ${objectName}`
  }

  get currentImageURL () {
    return require(`@/assets/number-images/${this.numbers[this.currentNumber].imageURL}`)
  }

  currentNumberSoundURL (index: number) {
    return require(`@/assets/number-sounds/${this.numbers[index].soundURL}`)
  }

  get currentObjectImageURL () {
    const assetPath = `${this.objects[this.currentObject].assetPrefix}-images`
    return require(`@/assets/${assetPath}/${this.currentObject}.jpg`)
  }

  currentObjectSoundURL (name: string, isPlural?: boolean) {
    const assetPath = `${this.objects[this.currentObject].assetPrefix}-sounds`
    const objectID = `${name}${isPlural ? '-plural' : ''}`
    return require(`@/assets/${assetPath}/${objectID}.mp3`)
  }

  mounted () {
    this.addEventListener()
  }

  beforeDestroy () {
    this.removeEventListener()
  }

  addEventListener () {
    document.addEventListener('keydown', this.handleKeyboardEvent)
  }

  removeEventListener () {
    document.removeEventListener('keydown', this.handleKeyboardEvent)
  }

  handleKeyboardEvent (event: KeyboardEvent) {
    this.currentNumber = (this.currentNumber + 1) % (this.numbers.length + 1)
    this.currentNumber = this.currentNumber === 0 ? 1 : this.currentNumber

    this.playNumberSound()
  }

  playNumberSound () {
    const audio = ((this.$refs[`audio-${this.currentNumber}`] as any)[0] as HTMLAudioElement)
    audio.onended = () => { this.playObjectSound(this.currentNumber > 1) }
    audio.play()
  }

  playObjectSound (isPlural: boolean) {
    const audioID = `audio-object${isPlural ? '-plural' : ''}-${this.currentObject}`
    const audio = ((this.$refs[audioID] as any) as HTMLAudioElement)
    audio.play()
  }


}

export default PlayKeyboardNumbers
</script>

<style scoped lang="scss">

.play-area {
  text-align: center;

  .image-list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
  }
}

.image {
  max-width: 200px;
  max-height: 200px;
}

</style>
