<template>
  <div class="play-keyboard-car-view">
    <h1>Press any key to move the car in a random direction</h1>
    <button type="button" name="button" @click="increaseSpeed">Increase Speed</button>
    <button type="button" name="button" @click="decreaseSpeed">Decrease Speed</button>
    <img ref="car" class="car" :class="currentDirection"
    :src="currentCarImageURL" alt="">
    <audio v-show="false" ref="car-honk" controls>
      <source :src="carHonkSoundURL" type="audio/mp3"></source>
    </audio>
    <audio v-show="false" ref="car-drive" controls autoplay loop>
      <source :src="carDriveSoundURL" type="audio/mp3"></source>
    </audio>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

// Car sounds from: http://soundbible.com/tags-honk.html

@Component
class PlayKeyboardCar extends Vue {
  moveSpeed: number = 1

  currentDirection: string = 'right'

  directions: string[] = ['right', 'left', 'down', 'up']

  car?: HTMLElement
  carWidth: number = 0

  get currentCarImageURL () {
    return require(`@/assets/car-images/yellow-car.png`)
  }

  get carHonkSoundURL () {
    return require(`@/assets/car-sounds/car-honk.mp3`)
  }

  get carDriveSoundURL () {
    return require(`@/assets/car-sounds/car-drive.mp3`)
  }

  mounted () {
    this.car = ((this.$refs['car'] as any) as HTMLElement)
    this.carWidth = parseInt(getComputedStyle(this.car!).width as string, 10)

    window.requestAnimationFrame(this.moveCar.bind(this))
    this.addEventListener()
    this.setAudioVolume()
  }

  beforeDestroy () {
    this.removeEventListener()
  }

  addEventListener () {
    document.addEventListener('keydown', this.handleKeyboardEvent)
  }

  removeEventListener () {
    document.removeEventListener('keydown', this.handleKeyboardEvent)
  }

  handleKeyboardEvent (event: KeyboardEvent) {
    let newDirection = this.currentDirection
    let isOppositeDirection = false

    while (newDirection === this.currentDirection || isOppositeDirection) {
      isOppositeDirection = false
      newDirection = this.directions[Math.floor(Math.random() * this.directions.length)]

      if ((newDirection === 'right' && this.currentDirection === 'left') ||
          (newDirection === 'left' && this.currentDirection === 'right') ||
          (newDirection === 'up' && this.currentDirection === 'down') ||
          (newDirection === 'down' && this.currentDirection === 'up')) {
        isOppositeDirection = true
      }
    }

    this.currentDirection = newDirection
    this.playHonkSound()
  }

  moveCar () {
    // Move left and right
    if (this.currentDirection === 'right' || this.currentDirection === 'left') {
      const moveSpeed = this.currentDirection === 'right' ? this.moveSpeed : -this.moveSpeed
      let leftPosition = parseInt(getComputedStyle(this.car!).left as string, 10)

      leftPosition = leftPosition + moveSpeed

      if (leftPosition > window.innerWidth && this.currentDirection === 'right') {
        leftPosition = -this.carWidth
      } else if (leftPosition < -this.carWidth && this.currentDirection === 'left') {
        leftPosition = window.innerWidth
      }

      this.car!.style.left = leftPosition + 'px'
    }

    // Move up and down
    if (this.currentDirection === 'up' || this.currentDirection === 'down') {
      const moveSpeed = this.currentDirection === 'down' ? this.moveSpeed : -this.moveSpeed
      let topPosition = parseInt(getComputedStyle(this.car!).top as string, 10)

      topPosition = topPosition + moveSpeed

      if (topPosition > window.innerHeight && this.currentDirection === 'down') {
        topPosition = -this.carWidth
      } else if (topPosition < -this.carWidth && this.currentDirection === 'up') {
        topPosition = window.innerHeight
      }

      this.car!.style.top = topPosition + 'px'
    }

    window.requestAnimationFrame(this.moveCar.bind(this))
  }

  playHonkSound () {
    const audioID = `car-honk`
    const audio = ((this.$refs[audioID] as any) as HTMLAudioElement)

    if (audio.currentTime < 10) {
      audio.pause()
      audio.currentTime = 0
    }
    audio.play()
  }

  increaseSpeed () {
    this.moveSpeed += 1
  }

  decreaseSpeed () {
    if (this.moveSpeed < 2) {
      return
    }

    this.moveSpeed -= 1
  }

  setAudioVolume () {
    const audioID = `car-drive`
    const audio = ((this.$refs[audioID] as any) as HTMLAudioElement)
    audio.volume = 0.5
  }
}
export default PlayKeyboardCar
</script>
<style scoped lang="scss">

.car {
  position: absolute;
  left: 0px;
  top: 300px;
  width: 100px;
}

.car.right {
  transform: rotate(0deg);
}

.car.left {
  transform: rotate(180deg);
}

.car.up {
  transform: rotate(-90deg);
}

.car.down {
  transform: rotate(90deg);
}
</style>
