<template>
  <div class="play-keyboard-animal-view">
    <!--<h1>Press any key (a - z) to play (Current key: {{ currentKey }})</h1>-->
    <div class="play-area">
      <img class="image" :src="currentImageURL" v-bind:alt="currentImageName">
      <h1>{{ currentImageName }}</h1>
      <audio v-for="(animal, key) in animals" v-show="false" :ref="'audio-' + key" controls>
        <source :src="currentSoundURL(key)" type="audio/mp3"></source>
      </audio>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class Home extends Vue {
  private currentKey: string = 'a'
  private animals: { [key: string]: { name: string, imageURL: string, soundURL: string }} = {
    a: { name: 'Ant', imageURL: 'ant.jpg', soundURL: 'ant.mp3' },
    b: { name: 'Bee', imageURL: 'bee.jpg', soundURL: 'bee.mp3' },
    c: { name: 'Cat', imageURL: 'cat.jpg', soundURL: 'cat.mp3' },
    d: { name: 'Dog', imageURL: 'dog.jpg', soundURL: 'dog.mp3' },
    e: { name: 'Elephant', imageURL: 'elephant.jpg', soundURL: 'elephant.mp3' },
    f: { name: 'Fish', imageURL: 'fish.jpg', soundURL: 'fish.mp3' },
    g: { name: 'Goat', imageURL: 'goat.jpg', soundURL: 'goat.mp3' },
    h: { name: 'Horse', imageURL: 'horse.jpg', soundURL: 'horse.mp3' },
    i: { name: 'Iguana', imageURL: 'iguana.jpg', soundURL: 'iguana.mp3' },
    j: { name: 'Jellyfish', imageURL: 'jellyfish.jpg', soundURL: 'jellyfish.mp3' },
    k: { name: 'Koala', imageURL: 'koala.jpg', soundURL: 'koala.mp3' },
    l: { name: 'Lion', imageURL: 'lion.jpg', soundURL: 'lion.mp3' },
    m: { name: 'Monkey', imageURL: 'monkey.jpg', soundURL: 'monkey.mp3' },
    n: { name: 'Newt', imageURL: 'newt.jpg', soundURL: 'newt.mp3' },
    o: { name: 'Octopus', imageURL: 'octopus.png', soundURL: 'octopus.mp3' },
    p: { name: 'Platypus', imageURL: 'platypus.jpeg', soundURL: 'platypus.mp3' },
    q: { name: 'Quetzal', imageURL: 'quetzal.jpg', soundURL: 'quetzal.mp3' },
    r: { name: 'Rabbit', imageURL: 'rabbit.jpg', soundURL: 'rabbit.mp3' },
    s: { name: 'Snake', imageURL: 'snake.jpg', soundURL: 'snake.mp3' },
    t: { name: 'Tiger', imageURL: 'tiger.jpg', soundURL: 'tiger.mp3' },
    u: { name: 'Umbrellabird', imageURL: 'umbrellabird.jpg', soundURL: 'umbrellabird.mp3' },
    v: { name: 'Vulture', imageURL: 'vulture.jpg', soundURL: 'vulture.mp3' },
    w: { name: 'Whale', imageURL: 'whale.jpg', soundURL: 'whale.mp3' },
    x: { name: 'X-ray Tetra', imageURL: 'xray-tetra.jpg', soundURL: 'xray-tetra.mp3' },
    y: { name: 'Yak', imageURL: 'yak.jpg', soundURL: 'yak.mp3' },
    z: { name: 'Zebra', imageURL: 'zebra.jpg', soundURL: 'zebra.mp3' }
  }

  get currentImageName () {
    return `${this.animals[this.currentKey].name}`
  }

  get currentImageURL () {
    return require(`@/assets/animal-images/${this.animals[this.currentKey].imageURL}`)
  }

  currentSoundURL (key: string) {
    return require(`@/assets/animal-sounds/${this.animals[key].soundURL}`)
  }

  mounted () {
    this.addEventListener()
  }

  beforeDestroy () {
    this.removeEventListener()
  }

  addEventListener () {
    document.addEventListener('keydown', this.handleKeyboardEvent)
  }

  removeEventListener () {
    document.removeEventListener('keydown', this.handleKeyboardEvent)
  }

  handleKeyboardEvent (event: KeyboardEvent) {
    const keyCode = event.which || event.keyCode
    const key = String.fromCharCode(keyCode).toLowerCase()

    const isAlphanumeric = /[a-z]/i.test(key)
    this.currentKey = isAlphanumeric ? key : 'a'

    this.playSound()
  }

  playSound () {
    ((this.$refs[`audio-${this.currentKey}`] as any)[0] as HTMLAudioElement).play()
  }
}
</script>

<style scoped lang="scss">
.play-area {
  text-align: center;
  height: 500px;
}

.image {
  max-width: 100%;
  max-height: 100%;
}
</style>
